# Created by .ignore support plugin (hsz.mobi)
### Gradle template
build
.gradle

## File-based project format:
*.ipr
*.iws

## Plugin-specific files:

# IntelliJ
/out/
.idea

# mpeltonen/sbt-idea plugin
.idea_modules/
node_modules/

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
### Windows template
# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# Deploy folder
.deploy

