<!--
  ~ The MIT License (MIT)
  ~
  ~ Copyright (c) 2015 CODEMONS
  ~
  ~ Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
  ~
  ~ The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
  ~
  ~ THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
  -->

<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-3.2.xsd">

	<http auto-config="true">
		<access-denied-handler error-page="/403" />
		<intercept-url pattern="/admin**/**" access="ROLE_ADMIN" />
		<intercept-url pattern="/user**" access="ROLE_USER" />

		<form-login
		    login-page="/login"
		    default-target-url="/login/success"
			authentication-failure-url="/login?error"
			username-parameter="username"
			password-parameter="password" />
		<logout logout-success-url="/login?logout"  />
		<!-- enable csrf protection -->
		<!--csrf request-matcher-ref="csrfSecurityRequestMatcher"  /-->
		<csrf/>
	</http>

	<!-- Select users and user_roles from database -->
	<authentication-manager>
		<authentication-provider>
			<!--jdbc-user-service data-source-ref="dataSource"
							   users-by-username-query=
									   "select username,password, enabled from users where username=?"
							   authorities-by-username-query=
									   "select username, role from user_roles where username =?  " /-->
			<user-service>
				<user name="admin" password="admin" authorities="ROLE_ADMIN,ROLE_USER" />
				<user name="user" password="user" authorities="ROLE_USER" />
			</user-service>
		</authentication-provider>

	</authentication-manager>
    <beans:bean id="csrfSecurityRequestMatcher"
                     class="codemons.transporter.service.CsrfSecurityRequestMatcher" />
</beans:beans>